<ion-content>
  <div class="center-container">
    <div class="ion-padding-vertical">
      <ion-card class="ion-text-center card-background">
        <ion-card-content>
          <ion-header class="custom-toolbar" [translucent]="true">
            <ion-title #titulo class="ion-text font-size" style="display: flex; align-items: center; justify-content: center;">
              Sistema de Asistencia DUOC
            </ion-title>
          </ion-header>
          <br>
          <br>
      <ion-toolbar>
        Recuperar Contraseña
      </ion-toolbar>
      <br><br>

      <ion-card>
        <ion-card-subtitle>Paso 1: Ingresa tu correo</ion-card-subtitle>
          <ion-input type="text" [(ngModel)]="correo" placeholder="Ej: Mperez@mail.com"></ion-input>
            <ion-button shape="block" size="small" (click)="ingresarValidarRespuestaSecreta()">
             <ion-icon name="checkmark"></ion-icon>
               Validar
             </ion-button>
      </ion-card>


        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>